/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(248,247,245);
}

.App {
  font-family: 'Inter', sans-serif;
}

form {
  /* padding-top: 80px; */
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: black;
  font-size: 20px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 64px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  border-bottom: 1px solid black;
}
.borderBoxLogin{
  border-radius: 10px;
  width: 35%;
  margin: auto;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.log_in_button{
  border: none;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(219,219,219);
  margin: auto;
  height: 40px;
  width: 90%;
  border-radius: 20px;
}
.red_boxes{
    display: flex;
    gap: 10px;
}
.red_boxes>div{
height: 20px;
width: 10px;
background-color: rgb(228,0,43);
}
